* {
  box-sizing: border-box;
}

/* ---FONTS--- */
@font-face {
  font-family: codeFont;
  src:url("/Project_html/fonts/PressStart2P-Regular.ttf");
}

/* COSTOM ICON STYLING */
.fa-ghost {
  color: #eee;
  font-size: 30px;
}

/* ---STICKY HEADER--- */
header { 
  font-family: codeFont;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #eee;
  color:  rgb(48, 48, 48);
/*   z-index: 1;  */ 
}

body {
  margin: 0px; /* 0 20px /5px / 0 to stick perfect on left side*/
  background-color: #303030; 
}

h1 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 2em;
}

h2, h3  { 
  text-decoration: underline;
  font-family: codeFont;
  text-align: center;
  color: #eee;
}


/* ---VERTICAL MENU--- */
.vertical-menu {
    width: 90px; 
    border-style: solid; /* Rookie fix - used borders to space */
    border-color: #303030; 
    position: fixed;  /* This makes it stick on side */
  }
  
  .vertical-menu a {
    font-family: codeFont;
    font-size: 10px;
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none; /* Deletes the underlines */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
  }


  /* ---CONTENT--- */
  .content {/* This is the main content */
    font-family: 'Courier New', Courier, monospace;
    border-style: groove;
    border-radius: 25px;
    margin-left: 90px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px; /* To center everything */
    background-color: #161616;
  }

  .content p {
    color: #eeeeee;
    margin: 5px;
    padding: 10px;
    line-height:20px
  }

  
 /* ---CODE BOX--- */
.content .codeBox {
  margin-left: 15%;
  background-color: black;
  display: inline-block; 
  border-style: solid;
  border-width: thin;
  vertical-align: bottom;
}

/* ---OUTPUT BOX---  */
.content .outputBox {
  margin-left: 15%;
  background-color: white;
  color: black;
  display: inline-block; 
  border-style: solid;
  border-width: thin;
  border-color: rgb(146, 146, 146);
  padding: 20px;
  vertical-align: bottom;
}



/*  < = &lt;
    > = &gt;
    " = &quot;
    ' = &#039;
    & = &amp;
    (space) = &nbsp; 
*/

